@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Prompt&display=swap");

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Prompt", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/public/dea.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-clip: border-box; */
  background-size: cover;
  height: 150vh;
  color: white;
}

.hvr-img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.hvr-img:hover {
  width: 120px;
  height: 120px;
  transition: .2s;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  transition-delay: 0.1s;
}
